html {
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Pacifico", cursive;
  color: #FF6347; /* Tomato color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  color: #4682B4; /* Steel Blue color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#start {
  text-align: center;
  font-size: 30px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#timer {
  color: #FFD700;
  font-size: 24px;
  margin-top: 10px;
}

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mallet.png?raw=true'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events: none;
}

.mole {
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
  pointer-events: auto;
}

.hole.show .mole {
  top: 0;
}
